body {
  background:skyblue;	
  width: 600px ;
  margin: auto ;
}

.main {
	display:grid;
		grid-template-columns: 1fr 1fr 1fr  1fr;	
}       
div {
	
	border :1px solid black ;
}
.div1 {
	background-color:#e21c1c;
	grid-column: 1/5;
	height: 50px
}
.div2{
	background-color: #2c5400;
	grid-column: 1/2;
   height:250px;
}


.div3 {
	background-color: #2c5400;
	grid-column: 2/5;
     height: 250px;
}

.div4 {
	background-color:#2c5400;
	grid-column: 1/2;
	height: 150px
	
	
}

.div5 {
	background-color:#2c5400;
	grid-column: 2/3;
	height: 150px
}

.div6 {

	background-color:#2c5400;
	grid-column: 3/4;
	height: 150px
}
	
.div7 {
	background-color: #2c5400;
	grid-column: 4/5;
	height: 150px
		
}	
	
.div8 {
	background-color: #ff7133;
	grid-column: 1/5;
	height: 50px;
	
}	



